// -----------------------------------------------------------------------------
// This file contains all styles related to forms of the site/application.
// -----------------------------------------------------------------------------

.forms-group {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.5);
  padding: 43px 20px;
  z-index: 2;
  align-items: center;
  .form-field {
    position: relative;
    @media screen and (max-width: 550px) {
      width: 100%;
    }
    .forms-group-input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #67717c;
      font-size: 1.8rem;
      color: #e5e5e5;
      margin-right: 25px;
      padding-left: 12px;
      max-width: 140px;
      min-height: 30px;
      border-radius: 0;
      outline: none;
      @media screen and (max-width: 992px) {
        margin-right: 0;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        max-width: inherit;
        margin-bottom: 15px;
      }
      @media screen and (max-width: 480px) {
        margin-bottom: 40px;
      }
      &:invalid:not(:placeholder-shown) {
        border-color: red;
      }
      option {
        background-color: $light-color;
        color: $text-color;
        &[disabled] {
          display: none;
        }
      }
    }
    .form-error {
      color: red;
      text-align: left;
      font-size: 1.15rem;
      display: block;
      display: none;
      position: absolute;
      bottom: 100%;
      background-color: rgba(#000, 0.5);
    }
  }
  @media screen and (max-width: 992px) {
    flex-wrap: wrap;
    > * {
      margin-bottom: 15px;
    }
  }
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $light-grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $light-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $light-grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $light-grey;
}
input:invalid:not(:placeholder-shown) + .form-error {
  display: block;
}

.select-wrapper {
  position: relative;
  select {
    z-index: 1;
    &#countries {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      position: relative;
      outline: 0;
      width: 100%;
      cursor: pointer;
      @media screen and (max-width: 992px) {
          padding-right: 20px;
        }
      option {
        transition: all 0.2 linear;
        background-color: $light-color;
        &:hover {
          background-color: transparent;
          color: $brand-color;
        }
      }
    }
  }
  &:after {

    position: absolute;
    content: "\f107";
    top: 50%;
    right: 5px;
    font-size: 2.4rem;
    font-family: fontawesome;
    color: $light-color;
    transform: translateY(-50%);
    z-index: 0;
    @media screen and (max-width: 550px) {
      content: none;
    }
  }
}