// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  .logo-wrapper {
    margin: 5px 0;
  }
}